.contactWrap {
  padding: 50px;
}

.contactWrap > img {
  width: 100px;
  text-align: center;
}

.contactWrap > h2 {
  text-align: center;
}

.cInfo {
  /* width: max-content; */
  width: 18rem;
  padding: 15px;
  background: white;
  border-radius: 4px;
  margin: 0 auto;
}

.formTitle {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 40px;
}

.formWrap {
  width: 40vw;
  margin: 0 auto;
}

form {
  border: 1px solid #dfdfdf;
  background: white;
  display: grid;
  justify-content: center;
  width: 25rem;
  padding: 20px;
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 400px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

textarea {
  resize: none;
}
label {
  font-weight: 700;
}

.submitBtn {
  margin-top: 20px;
  background-color: #2f4858;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  width: 10rem;
  padding-left: 10px;
  padding-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position: fixed;
  background: white;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
}

.modalBtn {
  margin-top: 20px;
  background-color: #00785f;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.5rem;
  border: 0;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 415px) {
  .contactWrap {
    padding: 0 0 20px 0;
  }

  .formWrap {
    width: 95%;
  }

  form {
    width: 100%;
  }

  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid gray;
  }
}
