.hero {
  color: white;
  width: 100%;
  min-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}

.heroInner {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}

.mainPitch {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 200px;
  text-align: center;
}

.mainPitch > h1 {
  text-align: center;
  padding-top: 15px;
}

.benefitSection,
.animalGroupSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-gap: 1rem;
  /* border: solid 1px gold; */
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.animalGroupTitle {
  margin-top: 50px;
}

.animalGroupSection {
  margin-top: 60px;
}
