.nav {
  background-color: #f2e4e245;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  padding-left: 10px;
  padding-right: 50px;
  border-bottom: 0.5px solid #80808091;
}

.logo {
  width: 100px;
  background-color: white;
  border: 1px solid green;
  border-radius: 1px;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.navTitle {
  margin: 0;
  display: inline;
  font-size: 1.7rem;
  margin-left: 0.75rem;
  line-height: 50px;
  vertical-align: super;
}

.navlink {
  display: inline-block;
  margin-right: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 50px;
}

.navlink:hover {
  text-decoration: underline;
}

.nav > ul {
  list-style-type: none;
  float: right;
}

.subnav {
  color: white;
  background-color: black;
  display: inline-flex;
  width: 100%;
}

.subnav > p {
  margin: 0;
  padding: 0;
  margin-right: 0.1rem;
  margin-left: 0.9rem;
  font-size: 0.7rem;
}

@media screen and (max-width: 415px) {
  .subnav {
    display: block;
  }

  .nav {
    padding-right: 0;
  }

  .logo {
    width: 70px;
    margin-left: 0;
  }

  .navTitle {
    font-size: 0.9rem;
  }
}
